@font-face {
  font-family: "myriad";
  src: url("../fonts/myriadsemi.otf");
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}

button {
  outline: none;
}

button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input {
  outline: none;
}

input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Luckiest Guy", cursive;
  position: relative;
}

.body_bg {
  background: #fcd800;
  position: relative;
  padding-top: 55px;
  padding-right: 75px;
  padding-left: 75px;
}

.body_bg .body_grid {
  position: absolute;
  top: 15px;
  left: -294px;
  overflow: hidden;
}

.body_bg .header {
  position: relative;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.body_bg .header.fixed-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.body_bg .header.fixed-header .container {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  background: #fcd800;
  padding-left: 75px !important;
  padding-right: 75px !important;
  -webkit-box-shadow: 0 0 20px 0 #fff;
          box-shadow: 0 0 20px 0 #fff;
}

.body_bg .header.fixed-header .navbar {
  padding: 25px 0;
}

.body_bg .header.fixed-header .logo {
  width: 400px;
  margin: auto;
}

.body_bg .header.fixed-header .logo img {
  width: 100%;
}

.body_bg .header .logo {
  text-align: center;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.body_bg .header .navbar {
  padding: 60px 0px;
}

.body_bg .header .navbar .navbar-nav .nav-item {
  padding: 0 20px;
}

.body_bg .header .navbar .navbar-nav .nav-item:first-child {
  padding-left: 0;
}

.body_bg .header .navbar .navbar-nav .nav-item .nav-link {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.body_bg .header .navbar .navbar-nav .nav-item .nav-link:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  bottom: 0;
  border-radius: 10px;
  background: #000000;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.body_bg .header .navbar .navbar-nav .nav-item .nav-link:hover:before {
  width: 100%;
}

.body_bg .header .navbar .form-inline .nav-link {
  font-size: 21px;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 50px;
  padding: 0 60px;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.body_bg .header .navbar .form-inline .nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: #000000;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.body_bg .header .navbar .form-inline .nav-link:hover {
  color: #fcd800;
}

.body_bg .header .navbar .form-inline .nav-link:hover:before {
  right: 0;
  width: 100%;
}

.body_bg .first_banner {
  position: relative;
}

.body_bg .first_banner .banner_left_cont h1 {
  color: #ff4f3f;
  font-size: 70px;
}

.body_bg .first_banner .banner_left_cont p.buy_cont {
  font-size: 36px;
  -webkit-text-stroke: 2px #000;
  color: #fff;
}

.body_bg .first_banner .banner_left_cont .dp_btn_box {
  width: 60%;
  margin: auto;
  margin-left: 90px;
}

.body_bg .first_banner .banner_left_cont .dp_btn_box .dp_btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.body_bg .first_banner .banner_left_cont .dp_btn_box .dp_btn_wrap .dp_btn {
  border: 2px solid #000;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  background: transparent;
  padding: 10px 20px;
  margin-right: 25px;
  cursor: pointer;
}

.body_bg .first_banner .banner_left_cont .dp_btn_box .dp_btn_wrap .dp_btn .round {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background: #000;
}

.body_bg .first_banner .banner_left_cont .dp_btn_box .dp_btn_wrap .dp_btn .play {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid #000;
  border-bottom: 15px solid transparent;
}

.body_bg .first_banner .banner_left_cont .dp_btn_box .dp_btn_wrap .dp_btn p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  line-height: 12px;
  margin-left: 10px;
}

.body_bg .first_banner .banner_left_cont .dp_btn_box p.g_cont {
  font-size: 10px;
  color: #000000;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.body_bg .first_banner .banner_left_cont .count_number {
  position: relative;
  margin-top: 35px;
}

.body_bg .first_banner .banner_left_cont .count_number .right_img {
  position: absolute;
  right: 85px;
  top: 25px;
}

.body_bg .first_banner .banner_left_cont .count_number .counter {
  margin-bottom: 40px;
}

.body_bg .first_banner .banner_left_cont .count_number .counter h3 {
  font-size: 60px;
  margin: 0;
  line-height: 50px;
}

.body_bg .first_banner .banner_left_cont .count_number .counter p {
  font-size: 19px;
}

.body_bg .first_banner .banner_right_cont .img_wrap {
  margin-top: 80px;
  position: relative;
}

.body_bg .first_banner .banner_right_cont .img_wrap .img_wrap_cont {
  position: absolute;
  right: 30px;
  top: -38px;
}

.body_bg .first_banner .banner_right_cont .img_wrap .img_wrap_cont h4 {
  font-size: 31px;
  color: #000000;
}

.body_bg .first_banner .banner_right_cont .img_wrap .img_wrap_cont h4 .l_1 {
  margin-left: -10px;
}

.body_bg .first_banner .banner_right_cont .img_wrap .img_wrap_cont h4 .l_2 {
  margin-left: -25px;
}

.body_bg .first_banner .cloud_right_wrap {
  background: url("../img/cloud-right.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 265px;
  width: 400px;
  position: absolute;
  right: -72px;
  bottom: -180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body_bg .first_banner .cloud_right_wrap h5 {
  font-size: 19px;
  color: #fff;
  text-align: right;
  position: absolute;
  bottom: 30px;
  right: 65px;
}

.body_bg .reward_wrap {
  padding-top: 95px;
  padding-bottom: 50px;
}

.body_bg .reward_wrap .reward_cont .inner_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.body_bg .reward_wrap .reward_cont .inner_wrap .reward_head {
  margin-bottom: 105px;
}

.body_bg .reward_wrap .reward_cont .inner_wrap .reward_head h2 {
  font-size: 58px;
  color: #ff4f3f;
  margin-left: 150px;
}

.body_bg .reward_wrap .reward_cont .inner_wrap .reward_img {
  position: relative;
  bottom: -90px;
}

.body_bg .reward_wrap .reward_cont .reward_box .box_head {
  text-align: center;
}

.body_bg .reward_wrap .reward_cont .reward_box .box_head h3 {
  font-size: 47px;
  color: #fff;
  margin: 0;
  margin-left: 150px;
  -webkit-text-stroke: 3px #000;
  display: inline-block;
  border-top: 5px solid #000;
  border-left: 5px solid #000;
  border-right: 5px solid #000;
  border-top-right-radius: 75px;
  border-top-left-radius: 75px;
  padding: 3px 55px;
}

.body_bg .reward_wrap .reward_cont .reward_box .box_wrap {
  border: 5px solid #000;
  padding: 50px 30px 0px;
  border-radius: 70px;
}

.body_bg .reward_wrap .reward_cont .reward_box .box_wrap .box_wrap_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.body_bg .reward_wrap .reward_cont .reward_box .box_wrap .box_wrap_inner .box_wrap_inner_txt {
  margin-left: 35px;
}

.body_bg .reward_wrap .reward_cont .reward_box .box_wrap .box_wrap_inner .box_wrap_inner_txt h4 {
  font-size: 32px;
  color: #000000;
  margin: 0;
}

.body_bg .reward_wrap .reward_cont .reward_box .box_wrap .box_wrap_inner .box_wrap_inner_txt p {
  font-size: 17px;
  color: #000000;
  margin: 0;
}

.wide_img_wrap {
  background: url("../img/ft-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.wide_img_wrap .body_bg {
  z-index: -1;
  height: 100%;
}

.footer .pd_wrap {
  padding: 0 75px 100px;
  position: relative;
}

.footer .pd_wrap .ft_top_img {
  background: url("../img/ft_top.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 265px;
  height: 216px;
  position: absolute;
  right: -60px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .pd_wrap .ft_top_img h5 {
  font-size: 29px;
  color: #fff;
  margin-left: 90px;
  margin-top: -35px;
}

.footer .footer_nav ul {
  padding: 0;
}

.footer .footer_nav ul li {
  list-style: none;
  margin-bottom: 30px;
}

.footer .footer_nav ul li:last-child {
  margin-bottom: 0;
}

.footer .footer_nav ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #000000;
}

.footer .ft_center_wrap {
  margin-bottom: 25px;
}

.footer .ft_center_wrap .s_media {
  margin-bottom: 30px;
}

.footer .ft_center_wrap .s_media ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .ft_center_wrap .s_media ul li {
  list-style: none;
  margin-right: 10px;
  position: relative;
}

.footer .ft_center_wrap .s_media ul li:last-child {
  margin-right: 0;
}

.footer .ft_center_wrap .s_media ul li a {
  color: #fff;
  text-decoration: none;
  width: 20px;
  height: 20px;
  background: #000000;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
  position: relative;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.footer .ft_center_wrap .s_media ul li a::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0;
  border: 2px solid transparent;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.footer .ft_center_wrap .s_media ul li a:hover:before {
  border: 2px solid #000;
  width: 40px;
  height: 40px;
  opacity: 1;
}

.footer .ft_center_wrap .ft_cont {
  padding-right: 180px;
  margin-bottom: 40px;
}

.footer .ft_center_wrap .ft_cont p {
  font-size: 12px;
  font-family: "myriad";
  color: #000;
}

.footer .ft_center_wrap .subscribe h3 {
  font-size: 28px;
  color: #000000;
}

.footer .ft_center_wrap .subscribe .input {
  position: relative;
}

.footer .ft_center_wrap .subscribe .input input {
  border: none;
  font-family: "myriad";
  width: 100%;
  padding: 8px 10px;
  font-size: 12px;
  color: #000;
}

.footer .ft_center_wrap .subscribe .input button {
  border: none;
  background: #000000;
  color: #fff;
  font-size: 12px;
  padding: 8px 45px;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: 0;
  cursor: pointer;
}

.footer .ft_logo {
  margin-bottom: 25px;
}

@media (max-width: 1199px) {
  .body_bg .header .navbar .navbar-nav .nav-item {
    padding: 0 15px;
  }
  .body_bg .header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 15px;
  }
  .body_bg .header .navbar .form-inline .nav-link {
    font-size: 18px;
    padding: 0 30px;
  }
  .body_bg .first_banner .banner_right_cont .img_wrap .img_wrap_cont {
    right: 0;
    top: -55px;
  }
  .body_bg .first_banner .banner_right_cont .img_wrap img {
    width: 100%;
  }
  .body_bg .first_banner .banner_left_cont .count_number .right_img {
    right: -30px;
  }
  .body_bg .first_banner .banner_left_cont .dp_btn_box {
    width: 100%;
    margin-left: 0;
  }
  .footer .ft_center_wrap .ft_cont {
    padding-right: 30px;
  }
  .footer .pd_wrap {
    padding-left: 0;
    padding-right: 0;
  }
  .footer .pd_wrap .ft_top_img {
    top: -54px;
  }
}

@media (max-width: 991px) {
  .body_bg {
    padding-left: 30px;
    padding-right: 30px;
  }
  .body_bg .first_banner .cloud_right_wrap {
    right: -30px;
  }
  .body_bg .first_banner .banner_left_cont .count_number .right_img {
    right: -100px;
  }
  .body_bg .header .logo {
    width: 400px;
    display: inline-block;
    text-align: left;
  }
  .body_bg .header .navbar .navbar-nav .nav-item {
    padding: 0;
    margin-bottom: 15px;
  }
  .body_bg .header .navbar .navbar-nav .nav-item .nav-link {
    display: inline-block;
  }
  .body_bg .header .navbar .navbar-collapse {
    padding: 25px 0;
  }
  .body_bg .header.fixed-header .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .navbar-toggler {
    border: 2px solid #000;
  }
  .navbar-toggler .navbar-toggler-icon {
    width: 25px;
    height: 2px;
    background: #000;
    display: block;
    margin: 5px 0;
  }
  .footer .ft_logo img {
    width: 200px;
  }
  .footer .footer_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .footer_nav ul li {
    margin-right: 20px;
  }
  .footer .footer_nav ul li:last-child {
    margin-right: 0;
  }
  .footer .pd_wrap .ft_top_img {
    right: -15px;
    top: 0;
  }
}

@media (max-width: 767px) {
  .body_bg {
    padding-left: 15px;
    padding-right: 15px;
  }
  .body_bg .body_grid {
    width: 100%;
    left: 0;
  }
  .body_bg .header .logo img {
    width: 250px;
  }
  .body_bg .first_banner .banner_left_cont h1 {
    font-size: 45px;
  }
  .body_bg .first_banner .banner_left_cont p.buy_cont {
    font-size: 30px;
  }
  .body_bg .first_banner .banner_left_cont .count_number .counter h3 {
    font-size: 40px;
  }
  .body_bg .first_banner .banner_left_cont .count_number .right_img {
    right: 0;
  }
  .body_bg .first_banner .banner_right_cont .img_wrap {
    margin-top: -15px;
  }
  .body_bg .first_banner .banner_right_cont .img_wrap img {
    width: 250px;
  }
  .body_bg .first_banner .banner_right_cont .img_wrap .img_wrap_cont h4 {
    font-size: 20px;
  }
  .body_bg .first_banner .banner_right_cont .img_wrap .img_wrap_cont {
    top: 0;
    right: 30px;
  }
  .body_bg .first_banner .cloud_right_wrap {
    right: -15px;
  }
  .body_bg .reward_wrap {
    padding-top: 240px;
  }
  .body_bg .reward_wrap .mb_0 {
    padding: 0;
  }
  .body_bg .reward_wrap .reward_cont .inner_wrap .reward_img img {
    width: 125px;
  }
  .body_bg .reward_wrap .reward_cont .inner_wrap .reward_head {
    margin-bottom: 0;
  }
  .body_bg .reward_wrap .reward_cont .inner_wrap .reward_head h2 {
    font-size: 40px;
    margin-left: 20px;
  }
  .body_bg .reward_wrap .reward_cont .inner_wrap .reward_img {
    bottom: 0;
  }
  .body_bg .reward_wrap .reward_cont .reward_box .box_head h3 {
    margin-left: 0;
    font-size: 20px;
  }
  .footer .pd_wrap {
    padding-top: 175px;
  }
  .footer .pd_wrap .ft_top_img {
    right: 0;
    top: -55px;
  }
}
/*# sourceMappingURL=style.css.map */